include LICENSE.txt
include requirements.txt
include qiskit_machine_learning/py.typed
recursive-include qiskit_machine_learning *.txt
graft test
prune docs
prune tools
prune tutorials
global-exclude *.py[co] .DS_Store
