coverage>=4.4.0
matplotlib>=2.1
seaborn
black[jupyter]~=22.0
pylint>=2.8.3,<2.14.0
pylatexenc>=1.4
stestr>=2.0.0
ddt>=1.2.0,!=1.4.0
reno>=3.4.0
Sphinx>=1.8.3,!=3.1.0
sphinx-design>=0.2.0
sphinx-gallery
sphinx-autodoc-typehints<1.14.0
sphinxcontrib-spelling
jupyter-sphinx
discover
qiskit-aer>=0.11
mypy>=0.780
mypy-extensions>=0.4.3
nbsphinx
qiskit_sphinx_theme
networkx>=2.2,<2.6
