{%- set external_urls = {
  'github': 'https://github.com/Qiskit/qiskit-machine-learning',
  'docs': 'https://qiskit.org/documentation/',
  'slack': 'https://qiskit.slack.com',
  'home': 'https://qiskit.org/',
  'resources': 'https://qiskit.org/learn',
  'tutorials': 'https://qiskit.org/documentation/machine-learning/tutorials/index.html',
}
-%}
